.center-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
img {
  max-width: 375px;
  height: auto;
  overflow: hidden;
}
button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 7px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}
.ex-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 'Racing Sans One', cursive;
   text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
}
p {
  margin: 12px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Racing Sans One', cursive;
}
span {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  color: rgb(66, 66, 69);
 
}
.button-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}