
header {
  background: rgba(255, 255, 255, .6);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  z-index: 1;
}
.title {
  opacity: 1;
  color: black;
  font-size: 45px;
  font-family: 'Racing Sans One', cursive;
}
.nav-link {
  margin: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.nav-link:hover {
opacity: .6;
}